%h1 Present

%p
  %div{:id=>"present"}
    keine aktuelle Folie
%div
  - @pres.each do |p|
    %a{:href=>"#", :onclick=>"activatePresent('/admin/#{params["present"]}/#{p}')"}
      %img{:width=>"200", :src=>"/images/#{params["present"]}/#{p}"}

%script{:type=>"text/javascript", :src=>"/javascript/ajax.js"}
