%h1 Present

%div{:id=>"state"}
  %p
    undefined

%div{:id=>"present"}
  %img{:src=>@img}

%script{:type=>"text/javascript", :src=>"/javascript/ajax.js"}

- # %script{:type=>"text/javascript"}
- # "window.onLoad=\"imageChange('#{params["present"]}');\""